body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --main-bg-color: #FDFAFF;
  --pink: #e493f9;
  --text-dark-purple: #3d008a;
  --main-cta-purple: #471fba;
  --button-light-purple: #eae3fb;
  --button-medium-purple:#7446d7;
  --profile--name-purple: #dfcfff;
  --desaturated-purple: #644dbd;
  --nav-bar-color: #FFFDFE;
  --orange-icon-color: #ff6341;
  --red--text-color: #ba1f1f;
  --nav-unactive-color: linear-gradient(180deg, #8561d4, rgba(184,113,240,0.9));
  --nav-active-color: linear-gradient(180deg, #552ccc, #8741df);
  --large-copy: 20px;
  --medium-copy: 16px;
  --small-copy: 14px;
  --xsmall-copy: 12px;
  --xxsmall-copy: 8px;
  --button-color: #471FBA;
  --button-text-color: #F5F5F5;
  --button-text-size: 16px;
  --progress-bar-yellow: #ffce50;
  --progress-bar-light-blue: #646aff;
  --progress-bar-light-purple: #c2a6ff;
  --progress-bar-pink: #f09bd8;
  --progress-bar-orange: #ff985f;
  --category-food: ;
  --category-food: ;
  --category-food: ;
  --category-food: ;
  --category-food: ;
  
  --hr-color: #e6e2ec;
  --category-food: ;
  --category-food: ;
  --category-food: ;
  --category-food: ;
  --category-food: ;

  /* --greycliff-extrabold-font-family: 'Greycliff-ExtraBold';
  --greycliff-bold-font-family: 'Greycliff-Bold';
  --greycliff-medium-font-family: 'Greycliff-Medium';
  --greycliff-regular-font-family: 'Greycliff-Regular'; */
  
}


* { 
box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
  margin: 0;
  position: relative;
  width: 375px;
  height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
  width: 375px;
}

.containerHeight {
  height: 100% !important;
}




h1, .h1 {
  color: var(--text-dark-purple);
  font-size: 48px;
  margin: 0;
}

h2, .h2 {
  color: var(--text-dark-purple);
  font-size: 32px;
  margin: 0;
}

h3, .h3 {
  color: var(--text-dark-purple);
  font-size: 24px;
  margin: 0;
}

h4, .h4 {
  color: var(--text-dark-purple);
  font-size: 20px;
  margin: 0;
}

h5, .h5 {
  color: var(--text-dark-purple);
  font-size: 18px;
  margin: 0;
}

h6, .h6 {
  color: var(--text-dark-purple);
  font-size: 16px;
  margin: 0;
}

p, .p, .dropdown-item, a:link, a:visited, a:hover, a:active, .a, textarea {
  color: var(--text-dark-purple);
  font-size: 14px;
  margin: 0;
}

.dropdown-item {
  color: var(--text-dark-purple) !important;
  font-size: 14px;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
}

a:link, a:visited, a:hover, a:active, .a {
  text-decoration: none;
}

.largeCopy {
  font-size: var(--large-copy) !important;
}

.mediumCopy {
  font-size: var(--medium-copy) !important;
}

.smallCopy {
  font-size: var(--small-copy) !important;
}

.xsmallCopy {
  font-size: var(--xsmall-copy) !important;
}
.xtestsmallCopy {
  font-size: 10px !important;
}

.xxsmallCopy {
  font-size: var(--xxsmall-copy) !important;
}

button, .button {
 background-color: var(--button-color);
 color: var(--button-text-color) !important;
 font-size: var(--button-text-size);
 margin: 8px 8px 12px 0;
 padding: 12px 32px;
 border-radius: 30px;
 box-shadow: 0 3px 4px 0 rgba(0, 4, 97, 0.15);
 font-family: greycliff-cf;
 border: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, a, link, button, input, textarea {
  font-family: greycliff-cf;
}

.medium {
  font-weight: 500;
}

.demiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.pb-6 {
  padding-bottom: 120px;
}

.btmRightBtn {
  padding: 12px 16px;
}

.stickyBtn {
  position: fixed;
  bottom: 30px;
  left: 50%;
  /* display: flex;
  justify-content: center; */
  padding: 1em;
}

.buttonSpacer {
  margin-left: -14px !important;
}

.stickyBtn2 {
  position: fixed;
  bottom: 86px;
  left: 51.5%;
  /* display: flex;
  justify-content: center; */
  padding: 1em;
}

.stickyBtnCB {
  position: fixed;
  bottom: 60px;
  left: 51.5%;
  /* display: flex;
  justify-content: center; */
  padding: 1em;
}

.stickyBtnG {
  position: fixed;
  bottom: 80px;
  left: 49%;
  /* display: flex;
  justify-content: center; */
  padding: 1em;
}

.stickyBtn3 {
  display: flex;
  justify-content: end;
  margin-right: 12px;
  margin-top: 308px;
}

.stickyBtn4 {
  display: flex;
  justify-content: end;
  margin-top: 70px;
}

.pageBottom {
  padding-bottom: 10rem;
}

/* ////////// ////*/
/* ////////// ////*/
/* ////////// ////*/
/* ////NAVBAR ////*/
/* ////////// ////*/
/* ////////// ////*/
/* ////////// ////*/

.highlight {
  height:65px;
}

.navSpacer {
  width: 25px;
}

span#nav {
  width: 25px;
}

.navStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 7px;
  margin-bottom: 5px; */
  width: 65px;
  height: 65px;
  border-top-color: purple;
}


.navbar {
  overflow: hidden;
  background-color: var(--nav-bar-color);
  border-radius: 20px 20px 0px 0px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0;
  bottom: 0;
  width: inherit;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 -2px 5px 0 rgba(53, 0, 138, 0.1);
}

.navbar a {
  color: var(--button-medium-purple);
  text-align: center;
  font-size: var(--xsmall-copy);
  /* padding: 14px 20px; */
  text-decoration: none;
}

 /* .navbar .navStack:hover {
  background-image: linear-gradient(to bottom, rgba(140, 62, 219, 0.08) 0%, rgba(163, 84, 203, 0) 100%);
  background-color: rgba(140, 62, 219, 0.08);
  background-size: 90px 40px; 
  border-top: 3px solid #552ccc;
  color: var(--nav);
  margin-bottom: 3px;  
}  */


.active {
  border-top: 3px solid #552ccc;
  color: var(--text-dark-purple);
  background-color: rgba(140, 62, 219, 0.08);
  margin-bottom: 3px;
  background-size: 90px 40px; 
}

.active a {
  color: var(--text-dark-purple);
}

.active img {
  display: none;
}

.active img#active {
  display: block;
}


img.navIconsActive {
  display: none;
}

img.navIcons#overview:hover {
  display: hidden;
}

.navIconsActive {
  width: 24px;
  height: 24px;
}


/* //////// */
/* //////// */
/* LOG IN */
/* //////// */
/* //////// */

.container#landingPage {
  background-image: linear-gradient(#6527c9, #330a8b 62.86%);
  height: 100%;
}


img.paybackLogo {
  width: 145px;
  height: 125px;
}



#landingPageContainer {
  padding-top: 234px;
  margin-right: 64px;
  margin-left: 64px;
}

#createPageContainer {
  padding-top: 137px;
  margin-right: 64px;
  margin-left: 64px;

}

h1#h1white {
  color: var(--main-bg-color);
  text-align: center;
}

h1#h1whiteWelcome {
  color: var(--main-bg-color);
  text-align: center;
  padding: 0px;
}

h1#catchPhrase {
  color: var(--main-bg-color);
  text-align: center;
  margin-bottom: 32px;
}

span#split {
  color: var(--progress-bar-light-purple);
}

button#create {
  background-color: var(--button-medium-purple);
  padding-top: 9px;
  padding-bottom: 9px;
}

button#signUp {
  background-color: var(--button-medium-purple);
  padding-top: 9px;
  padding-bottom: 9px;
}

button#login {
  background-color: transparent;
  border: 1px solid var(--main-bg-color);
  padding-top: 10px;
  padding-bottom: 10px;
}


input#name.form-control, input#email.form-control, input#password.form-control { 
  width: 246px;
  height: 35px;
  border-radius: 22px;
}

input#name::placeholder, input#email::placeholder, input#password::placeholder {
  color: var(--button-medium-purple);
}

input#searchForm::placeholder {
  color: var(--text-dark-purple);
  font-size: var(--small-copy);
}


h1#create {
  color: var(--progress-bar-light-purple);

}

/* .navbar a.active {
  background-color: #04AA6D;
  color: white;
} */

.navIcons {
  width: 24px;
  height: 24px;
}





/* GROUPS PAGE */

.topNavigation h6 {
  text-align: center;
}

.topNavBack, a.topNavBack, a:visited.topNavBack, :active.topNavBack, a:hover.topNavBack {
  height: 16px;
  width: 10px;
}

.topNavOptions {
  height: 20px;
  width: 4px;
}

.topNavOptionsWhite {
  /* width: 20px; */
  height: 20px;
}

.groupsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allGroupsPageHeader h4 {
  width: 96px;
  height: 20px;
  margin: 19px 40px 10px 24px;
}

.groupsCard {
  width: 360px;
  height: 135px;
  flex-grow: 0;
  margin: 20px 24px 392px;
  padding: 12px 15.9px 16px 12px;
  border-radius: 9.6px;
  box-shadow: 0 5px 20px 0 rgba(1, 0, 51, 0.05);
  background-color: #fff;
}

.groupsCardRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  padding-top: 0.5rem;
}

.groupsCardButton a {
  padding: 8px 16px 7px;
  border-radius: 30px;
  font-size: var(--small-copy);
  margin:0 ;
}

.groupsCardIcons {
  display: flex;
  flex-direction: row;
}


.groupsCardRowTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.3rem;
}

.groupName {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  border: none;
  color: var(--text-dark-purple);
  font-size: var(--large-copy);
}

/* NEW GROUP PAGE */

button#addPhoto {
  position: relative;
  text-align: center;
  font-size: 16px;
  top: 45px;
  margin-left: -40px;
  padding: 5.5px;
  box-shadow: none;
}


button#editPhoto {
  background-color: transparent;
  margin-top: -27.5px;
  margin-left: 55px;
  padding: 0px;
  box-shadow: none;
}

button#addPhoto p {
  color: white;
  margin-top: -1.2rem;
  font-size: 31px;
  text-align: center;
}



.modal-body {
  position: fixed;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
  transition: all .3s ease-out;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

#addPhotoBody {
  position: relative;
  height: 175px;
  bottom: 0;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  padding-bottom: 50px;
  width: 375px;
  margin-left: 71px;
  top: 530px;
  /* margin-left: 70px; */
  /* top: 500px; */
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all .3s ease-out;
}

#addPhoto {
  background-color: transparent;
}

#editImgIcon {
  width: 35px;
  height: 35px;
}


.createGroup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.newGroupImg {
  width: 74px;
  height: 74px;
}

.emptyGroupImg {
  width: 81px;
  height: 74px;
}

.description {
  padding: 0 12px;
}

.groupNameEdit {
  font-size: 20px;
  font-weight: 700;
  border: none;
  max-width: 164px;
  text-align: center;
  color: var(--text-dark-purple);
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(1, 0, 51, 0.05);
}

.form-control {
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(1, 0, 51, 0.05);
  color: var(--text-dark-purple);
  font-size: var(--small-copy);
}

.groupMembers {
  margin-top: 2rem;
  flex-direction: column;
  padding:0 12px;
}

.checkbox p {
  color: var(--text-dark-purple);
  font-size: var(--medium-copy);
}

img.editIcon {
  width: 24px;
  height: 24px;
  margin-left: 0.3rem;
}

button#addFriends {
  border: none;
  color: white;
  padding: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  height: 20px;
  padding: 5.5px;
}

button#addFriends p {
  color: white;
  margin-top: -1.2rem;
  font-size: 28px;
  text-align: center;
  margin-left: -0.1rem;
}

button#deleteFriends {
  color: white;
  background-color: var(--desaturated-purple);
  padding: 20px;
  width: 18px;
  height: 18px;
  /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  /* height: 20px; */
  padding: 5.5px;
}


button#deleteFriends p {
  color: white;
  margin-top: -1.2rem;
  font-size: 28px;
  text-align: center;
  margin-left: -0.27rem;
  transform: rotate(-45deg);
  object-fit:contain;
}

/* ADD FRIENDS */
/* 
*/

h1#friendsTitle {
  /* margin-right: 161px; */
  text-align: center;
  /* width: 50%; */
}


#searchForm {
  border-radius: 55px;
  padding-right: 16px;
  width: 234px;
  box-shadow: 0 5px 20px 0 rgba(1, 0, 51, 0.05);
  background-color: #fff;
}


.searchButton {
  padding: 0 13px;
  border-radius: 10px;
  background-color: var(--button-color);
  font-size: var(--small-copy);
  font-weight: 500;
}

.searchFriends {
  margin: 0px 12px;
}

#yourFriends {
  margin-bottom: 24px !important;
}

.friendsList {
  margin-top: -5px;
  padding-left: 24px;
  padding-right: 24px;
}

.link {
  width: 14.8px;
  height: 14.8px;
  flex-grow: 0;
  object-fit: contain;
  margin-right: 4px;
}

.smiley {
  width: 25px;
  height: 25px;
}

.friendsName {
  gap: 7.6px;
}

#friendName {
  font-size: var(--medium-copy);
}

img.addFriend {
  width: 23px;
  height: 23px;
  flex-grow: 0;
}


/* The container */
.friendsCheck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.friendsCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.8px;
  height: 20.8px;
  background-color: var(--main-bg-color);
  border: 1.5px solid #8573ae;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.friendsCheck:hover input ~ .checkmark {
  background-color: var(--orange-icon-color);
  border: 1.5px solid var(--orange-icon-color);
}

/* When the radio button is checked, add a blue background */
.friendsCheck input:checked ~ .checkmark {
  background-color: var(--orange-icon-color);
  border-color: var(--orange-icon-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.friendsCheck input:checked ~ .checkmark:after {
  display: block;
}

.bi-check {
    color: var(--main-bg-color);
    position: absolute;
    top: 2px;
    left: 0.5px;
}

/* Style the indicator (dot/circle)  */
 .friendsCheck .checkmark:after {
  display: block;
} 

.checkmark#addFriendCheck {
  margin-left: 10px;
}

span.check {
  display: hidden;
}

hr.friendsList {
  margin: 17.5px 24px 17.5px 24px;
  height: 4px;
  width: 327px;
  color: var(--hr-color);
}

hr.addFriend {
  width: 327px;
  height: 1px;
  margin: 20px 0 20px 24px;
  background-color: #ede4ff;
}

.addFriendBreak {
  width: 327px;
  height: 1px;
  margin: 12px 0;
  background-color: #ede4ff;
}

.sadSmiley {
  width: 60px;
  height: 60px;
  margin-top: 40px;
  object-fit: contain;
}

h1#noFriends {
  font-size: 24px;
  margin-top: 11px;
}

img.deleteFriend {
  width: 18px;
  height: 18px;
}

img.add {
  width: 18px;
  height: 18px;
  transform: rotate(-45deg);
}

hr.editFriend {
  width: 327px;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--hr-color);
}

img.options {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

hr.allFriends {
  width: 327px;
  height: 4px;
  margin: 11px 24px 11px 24px;
  color: var(--hr-color);
}

/* FRIEND SETTINGS MODAL */

.viewProfile {
  width: 327px;
  height: 51px;
  flex-grow: 0;
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 16px 16px ;
  border-radius: 10px;
  background-color: #f4efff;
  font-size: var(--medium-copy);
  
}

.blockRemove {
  color: var(--red--text-color);
  width: 327px;
  height: 120px;
  flex-grow: 0;
  margin: 20px 8px 0 0;
  padding: 16px 16px 15px 16px;
  border-radius: 10px;
  background-color: rgba(255, 151, 106, 0.35);
}

p#block, p#remove {
  color: var(--red--text-color);
  font-size: var(--medium-copy);
}

hr.block {
  width: 295px;
  height: 2.5px;
  flex-grow: 0;
  margin: 13.5px 0 16px;
  transform: rotate(-0.19deg);
  background-color: #f4c8b6;
}

img.blockFriend {
  width: 18.3px;
  height: 18.3px;
  flex-grow: 0;
  margin: 4px;
}

.friendSettings {
  height: 330px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--main-bg-color);
}

button#options {
  width: 24px;
  height: 24px;
  background-color: transparent;
}

img.close {
  width: 22px;
  height: 17px;
  flex-grow: 0;
  position: relative;
  left: 172px;
  top: -10px;
}

.closePhoto{
  width: 22px;
  height: 17px;
  flex-grow: 0;
  position: relative;
  left: 330px;
  top: -10px;
}

.modal-body-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.blockCancel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

hr.block {
  width: 327px;
}

p#block {
  color: var(--red--text-color);
}

/* hr.block2 {
  height: 51px;
} */

p#blockWarning {
  width: 279px;
  height: 84px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: var(--small-copy);
  line-height: 1.5rem;
  letter-spacing: normal;
  text-align: center;
  color: var(--text-dark-purple);
}

button#submit {
color:red;
}



/* PROFILE */
/* ////////// */
/* ////////// */
/* ////////// */
/* ////////// */
/* ////////// */

h1#profile {
  color: var(--main-bg-color);
}

.profileSmiley {
  width: 100px;
  height: 100px;
  padding: 4px 1px 1px 4px;
  margin-top: 18px;
}

.personSmiley {
  width: 92.8px;
  height: 92.8px;
  border: 3px solid var(--progress-bar-light-purple);
  border-radius: 100px;
  margin-top: 18px;
  margin-bottom: 18px;
}

button#addButton {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  margin-top: 90px;
  margin-left: -2rem;
  padding: 11px 10px 10px 11px;
  border-radius: 21px;
  background-color: var(--orange-icon-color);
}

button#addButton p {
  color: white;
  margin-top: -1.7rem;
  margin-left: -0.2rem;
  font-size: 38px;
  text-align: center;
}

p#profileName {
  color: var(--profile--name-purple);
  font-size: var(--medium-copy);
}

p#profileFriends {
  color: var(--main-bg-color);
  font-size: var(--medium-copy);
  margin-bottom: 32px;
  padding: 1px 14px;
  border-radius: 10px;
  border: solid 1.5px #9e84d4;
}

img.transactionSmiley {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.groupNameCard {
  color: var(--desaturated-purple);
}

h6#groupMember, h6#groupCost {
  color: var(--text-dark-purple);
  font-size: var(--medium-copy);
}

.transactions {
  margin-right: 15.3px;
}

p#groupDate {
 font-size: var(--xsmall-copy);
}

hr.profile {
  width: 327px;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--hr-color);
}

/* ////////// */
/* ////////// */
/* VIEW PROFILE */
/* ////////// */
/* ////////// */


p#addFriend {
  width: 126px;
  height: 28px;
  display: flex;
  font-size: var(--small-copy);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 13px 85px 24px 91px;
  padding: 6px 16px;
  border-radius: 10px;
  background-color: var(--button-medium-purple);
  color: var(--main-bg-color);
}

img#addFriendIcon {
  width: 16px;
  height: 16px;
}

img.purpleLock {
  width: 45px;
  height: 63.6px;
  margin-top: 94.7px;
  padding:0;
}

h1#profileLocked {
  font-size: 24px;
  margin-top: 11.7px;
  text-align: center;
}

p#lockedText {
  line-height: 1.5;
  width: 212px;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--medium-copy);
}


.gradientContainer {
  background-image: linear-gradient(#6527c9, #330a8b 62.86%);
}

.gradientContainerTwo {
  background-image: linear-gradient(176.73deg, #3414AF 2.7%, #C749E8 62.86%);
}

.gradientContainerCB {
  background-image: linear-gradient(159deg, #6527c9 0%, #330a8b 36%)
}

.friendsCheck, .container {
  background-color: var(--main-bg-color);
  font-size: var(--medium-copy);
}



/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* Other friend profile */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */


img.friendCheck {
  width: 12.6px;
  height: 12px;
  flex-grow: 0;
  margin-right: 8px;
}

img.remind {
  width: 12px;
  height: 15px;
  flex-grow: 0;
  margin: 0 8px 1px 0;
  padding: 0.9px 0.9px;
}

#cardGroupName {
  padding-left: 8px;
}

#recentFriends {
  color: var(--main-bg-color);
}

#viewAll {
  color: #decfff;
  text-decoration: underline;
  font-size: var(--medium-copy);
}

.recentFriends {
  padding: 40px 24px 22px 24px;
}

img.smileyInScroll {
  width: 63px;
  height: 62px;
  border: 3px solid var(--progress-bar-light-purple);
  border-radius: 100px;
}

.smileyScroll {
  gap: 21px;
  padding-bottom: 38.1px;
}

#smileyScrollName {
color: var(--button-light-purple);
margin-top: 5.2px;
}

.pageTab2 {
  background-color: var(--main-bg-color);
  border-radius: 20px 20px 0px 0px;
  height: 60%;
}

.pageTab {
  background-color: var(--main-bg-color);
  border-radius: 20px 20px 0px 0px;
  height: 100%;
}

.white {
  color: var(--main-bg-color);
}

.groupImg {
  width: 69px;
  height: 69px;
  border: 2.5px solid var(--progress-bar-light-purple);
  border-radius: 100px;
}

.groupImg2 {
  width: 69px;
  height: 69px;
}

.memberIcons, .memberIconsNE {
  width: 32px;
  height: 32px;
  margin: 0 7.6px 0 0;
}

.memberIcons {
  margin-right: -10px;
}

.heartIcon {
  width: 40px;
  height: 40px;
  margin: 0;
}

.total {
  background-color: var(--nav-bar-color);
  border-radius: 35.4px;
  width: 140px;
  height: 45px;
  margin: 6px 0 0;
  padding: 8px 32px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-dark-purple);
  border: 0;
}

.card {
  border: 0;
  box-shadow: 0 5px 20px 0 rgba(1, 0, 51, 0.05);
}

.card-body {
  padding-bottom: 12px !important;
}

.expenseSection {
  margin-bottom: 40px;
}

.indivTotal {
  width: 74px;
  height: 24px;
  padding: 4px 0;
  border-radius: 10px;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--nav-bar-color);
  color: var(--text-dark-purple);
  border: 0;
  text-align: center;
}

.lockIcon {
  width: 14px;
  height: 22px;
  margin-right: 16px;
}

.memberExpense {
  margin-bottom: 33px;
}

.dropdownBtn {
  background-color: var(--nav-bar-color);
  padding: 8px 12px 7px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  color: var(--button-medium-purple) !important;
  margin: 0;
}

.noteBtn {
  padding: 8px 13px 7px;
  border-radius: 12px;
  background-color: var(--button-light-purple);
  color: var(--text-dark-purple) !important;
  margin: 0;
  font-size: var(--small-copy);
}

.noteIcon {
  height: 15px;
  width: 15px;
}

.splitBtnActive {
  background-color: var(--button-medium-purple);
  padding: 5px 16px 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.8;
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  color: var(--main-bg-color);
  margin: 0 12px 0 0;
}

.splitBtn {
  background-color: var(--nav-bar-color);
  padding: 5px 16px 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.8;
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  color: var(--button-medium-purple) !important;
  margin: 0;
}

.progressLightPurple {
  background-color: var(--progress-bar-light-purple);
}

.progressLightBlue {
  background-color: var(--progress-bar-light-blue);
}

.progressPink {
  background-color: var(--progress-bar-pink);
}

.progressYellow {
  background-color: var(--progress-bar-yellow);
}

.progressOrange {
  background-color: var(--progress-bar-orange);
}

.progress {
  border-radius: 50px;
  height: .75rem;
}

.progress-bar {
  border-radius: 50px;
  height: .75rem;
}

/* h2#groupSpending {
  margin-bottom: 8px;

/*costBreakdown*/

.longCB {
  padding: 16px 24px 92px;
}

#confirmation {
  border-radius: 10px;
  margin-top: 100px;
  width: 327px;
  margin-left: 87.5px;
  width: 375px;
  /* margin-left: 70px; */
}


.categoryTitle {
  padding: 3px 9px 0px;
  margin: 0;
  border-radius: 23px;
  font-size: var(--xsmall-copy);
}

.categoryFood {
  background-color: #ffe299;
  color: #594921;
}

.iconButton {
  height: 27px;
  width: 37px;
  padding: 7px 11px 6px;
  background-color: rgba(194, 166, 255, 0.7);
  border-radius: 12px;
}

.doughnutText {
  position: relative;
  top: -155px;
  margin-bottom:-75px;
}

.lineHeight64 {
  line-height: 1.3;
}

.doughnutTextCard {
  position: relative;
  top: -53px;
  margin-bottom:-30px;
  line-height: 0.7;
}

.OptionsHorizontal {
  width: 22px;
  height: 22px;
}

.textVGCard {
  line-height: 0.7;
}

.checkCB {
  width: 20px;
  height: 20px;
}

.circleCB {
  width: 12px;
  height: 12px;
}

.woohooSmiley {
  width: 83.82px;
  height: 68px;
}

.overviewButtonsActive, .overviewButtons {
  padding: 5px 20px 3px;
  font-size: var(--small-copy);
  border-radius: 10px;
  font-weight: 500;
}

.overviewButtonsActive {
  background-color: #8055dd;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.overviewButtons {
  background-color: #330a8b00;
  border: solid 1.5px #9e84d4;
  box-shadow: none;
}

.doughnutTextOverview {
  position: relative;
  top: -145px;
  margin-bottom:-75px;
  
}


img.confirmationIcon {
  margin-top: 8px;
  width: 110px;
  height: 94px;
}

#modalTitle {
  margin-top: 8px;
}

#youOwe {
  margin-top: 14px;
}

#owedPrice {
}

#owedTo {
  font-size: var(--medium-copy);
  margin-top: -4px;
}

#paymentMethods {
  margin-top: 28px;
  font-size: var(--medium-copy);
}

#confirmationButton {
  width: 231px;
  /* height: 40px; */
  margin-top: 11px;
  font-size: var(--medium-copy);
  padding: 8px 32px;
}

#confirmationButtonTwo {
  width: 231px;
  /* height: 40px; */
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: var(--medium-copy);
  border-radius: 30px;
  color: var(--text-dark-purple) !important;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
  border: solid 1.5px var(--text-dark-purple);
  background-color: #fff;
  padding: 8px 32px;
}



img.venmoLogo {
  width: 63.4px;
  height: 12px;
}

img.noteIcon {
  width: 18px;
  height: 20.4px;
}

#noteCB {
  height: 27px !important;
  width: 37px !important;
}

#noteIcon {
  margin-top: 23px;
  margin-bottom: 32px;
  font-size: var(--xsmall-copy);
}




/* /////// */ 
/* /////// */ 
/* /////// */ 
/* MONTHLY 
/* /////// */ 
/* /////// */ 
/* /////// */ 



#monthly {
  color: var(--main-bg-color);
}


p#netTotal {
  font-size: var(--medium-copy);
  color: var(--main-bg-color);
  margin-top: 17px;
}

h2#netTotalNumber {
  font-size: 32px;
  color: var(--main-bg-color);
  margin-bottom: 233px;
}

p#youPaid {
  color: var(--text-dark-purple);
  font-size: var(--xsmall-copy);
}

p#entertainmentTag {
  font-size: var(--small-copy);
  margin-top: 27px;
  padding: 4px 12px;
  border-radius: 27.6px;
  background-color: #decfff;
  margin-bottom: 16px;
}

p#travelTag {
  flex-grow: 0;
  margin-top: 27px;
  padding: 4px 12px;
  border-radius: 27.6px;
  background-color: #c6d6ff;
}


h6#monthlyDate {
  margin-top: 17px;
  text-align: right;
}

#monthlyCard {
  width: 327px;
  height: 145px;
  flex-grow: 0;
  /* margin-left: 24px;
  margin-right: 24px; */
  padding: 17px 16px 16px 14.9px;
  border-radius: 9.6px;
  box-shadow: 0 5.8px 23.1px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

img.monthlyArrow {
  width: 13.9px;
  height: 14px;
  flex-grow: 0;
  margin-left: 4.5px;
}

h4#totalSpend {
  color: var(--main-bg-color);
  margin-bottom: 51px;
}

img.dropDownArrow {
  width: 8px;
  height: 5px;
  margin-left: 4px;
  flex-grow: 0;
}

/* img.monthySwipe {
  width: 9px;
  height: 17px;
  flex-grow: 0;
  transform: rotate(-90deg);
  border: solid 3px rgba(219, 201, 255, 0.8);
} */



/* Add photo modal */

#gallery {
  width: 279px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 8px 8px 12px 0;
  padding: 12px 32px;
  border-radius: 30px;
  box-shadow: 0 3px 4px 0 rgba(0, 4, 97, 0.15);
  background-color: var(--button-color);
  /* margin-top: 48px; */
}

#gallery h1 {
  color: #fff;
}


#takePhoto {
  width: 279px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 0px 8px 0px 0;
  padding: 12px 32px;
  border: solid 1.5px var(--main-cta-purple);
  border-radius: 30px;
  box-shadow: 0 3px 4px 0 rgba(0, 4, 97, 0.15);
  background-color: var(--button-main-cta-purple);
}

@media screen and (max-width: 480px) {
  #addPhotoBody {
    margin-left: -10px;
    top: 400px;
  }

  #confirmation {
    margin-left: 18px;
    margin-top: 24px;
  }

  
  .indivTotal {
    box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 1);
  }
}