body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --main-bg-color: #FDFAFF;
  --pink: #e493f9;
  --text-dark-purple: #3d008a;
  --main-cta-purple: #471fba;
  --button-light-purple: #eae3fb;
  --button-medium-purple:#7446d7;
  --profile--name-purple: #dfcfff;
  --desaturated-purple: #644dbd;
  --nav-bar-color: #FFFDFE;
  --orange-icon-color: #ff6341;
  --nav-unactive-color: linear-gradient(180deg, #8561d4, rgba(184,113,240,0.9));
  --nav-active-color: linear-gradient(180deg, #552ccc, #8741df);
  --large-copy: 20px;
  --medium-copy: 16px;
  --small-copy: 14px;
  --xsmall-copy: 12px;
  --button-color: #471FBA;
  --button-text-color: #F5F5F5;
  --button-text-size: 16px;
  --progress-bar-yellow: #ffce50;
  --progress-bar-light-blue: #646aff;
  --progress-bar-light-purple: #c2a6ff;
  --progress-bar-pink: #f09bd8;
  --progress-bar-orange: #ff985f;
  --hr-color: #e6e2ec;
}


* { 
box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
  margin: 0;
  position: relative;
  width: 100%;
}


h1, .h1 {
  color: var(--text-dark-purple);
  font-size: 48px;
  margin: 0;
}

h2, .h2 {
  color: var(--text-dark-purple);
  font-size: 32px;
  margin: 0;
}

h3, .h3 {
  color: var(--text-dark-purple);
  font-size: 24px;
  margin: 0;
}

h4, .h4 {
  color: var(--text-dark-purple);
  font-size: 20px;
  margin: 0;
}

h5, .h5 {
  color: var(--text-dark-purple);
  font-size: 18px;
  margin: 0;
}

h6, .h6 {
  color: var(--text-dark-purple);
  font-size: 16px;
  margin: 0;
}

p, .dropdown-item, textarea {
  color: var(--text-dark-purple);
  font-size: 14px;
  margin: 0;
}

button, .button {
 background-color: var(--button-color);
 color: var(--button-text-color);
 font-size: var(--button-text-size);
 margin: 8px 8px 12px 0;
 padding: 12px 32px;
 border-radius: 30px;
 box-shadow: 0 3px 4px 0 rgba(0, 4, 97, 0.15);
 font-family: greycliff-cf;
 border: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, a, link, button, input, textarea {
  font-family: greycliff-cf;
}

.medium {
  font-weight: 500;
}

.demiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.btmRightBtn {
  position: fixed;
  bottom: 90px;
  right: 16px;
  padding: 12px 16px;
}



/* ////////// ////*/
/* ////////// ////*/
/* ////////// ////*/
/* ////NAVBAR ////*/
/* ////////// ////*/
/* ////////// ////*/
/* ////////// ////*/


.navStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  margin-bottom: 5px;
}


.navbar {
  overflow: hidden;
  background-color: var(--nav-bar-color);
  border-radius: 20px 20px 0px 0px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  bottom: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 -2px 5px 0 rgba(53, 0, 138, 0.1);
}

.navbar a {
  color: var(--button-medium-purple);
  text-align: center;
  font-size: var(--xsmall-copy);
  /* padding: 14px 20px; */
  text-decoration: none;
}

.navbar .navStack:hover {
  background-image: linear-gradient(to bottom, rgba(140, 62, 219, 0.08) 0%, rgba(163, 84, 203, 0) 100%);
  color: var(--nav);
}

/* .navbar a.active {
  background-color: #04AA6D;
  color: white;
} */

.navIcons {
  width: 24px;
  height: 24px;
}





/* GROUPS PAGE */

.topNavigation h6 {
  text-align: center;
}

.topNavBack {
  height: 16px;
  width: 10px;
}

.topNavOptions {
  height: 20px;
  width: 4px;
}

.groupsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allGroupsPageHeader h4 {
  width: 96px;
  height: 20px;
  margin: 19px 40px 10px 24px;
}

.groupsCard {
  width: 360px;
  height: 135px;
  flex-grow: 0;
  margin: 20px 24px 392px;
  padding: 12px 15.9px 16px 12px;
  border-radius: 9.6px;
  box-shadow: 0 5px 20px 0 rgba(1, 0, 51, 0.05);
  background-color: #fff;
}

.groupsCardRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  padding-top: 0.5rem;
}

.groupsCardButton button {
padding: 8px 16px 7px;
border-radius: 30px;
font-size: var(--small-copy);
margin:0 ;
}

.groupsCardIcons {
  display: flex;
  flex-direction: row;
}


.groupsCardRowTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.3rem;
}

#groupH2 {
  margin-top: 16px;
}

/* NEW GROUP PAGE */

.createGroup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.newGroupImg {
  width: 74px;
  height: 74px;
}

.description {
  padding-left: 28px;
  padding-right: 28px;
}

.form-control {
  height: 74px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(1, 0, 51, 0.05);
}

.groupMembers {
  margin-top: 2rem;
  flex-direction: column;
  padding-left:28px;
  padding-right: 28px;
}

.checkbox p {
  color: var(--text-dark-purple);
  font-size: var(--medium-copy);
}

img.editIcon {
  width: 24px;
  height: 24px;
  margin-top: 1.1rem;
  margin-left: 0.3rem;
}


/* ADD FRIENDS */
/* 
*/

#searchForm {
  width: 234px;
  height: 41px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin: 11px 12px 24px 24px;
  padding: 12px 16px;
  border-radius: 55px;
  box-shadow: 0 5px 20px 0 rgba(1, 0, 51, 0.05);
  background-color: #fff;
}

#searchFormTwo {
  width: 327px;
  height: 41px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin: 11px 12px 24px 24px;
  padding: 12px 16px;
  border-radius: 55px;
  box-shadow: 0 5px 20px 0 rgba(1, 0, 51, 0.05);
  background-color: #fff;
}


button#submit.searchButton {
  width: 80.8px;
  height: 30.8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 16px 24.2px 29.2px 12px;
  padding: 8px 13px;
  border-radius: 10px;
  background-color: var(--button-color);
}

.searchFriends {
  padding-left: 24px;
  padding-right: 24px;
}

#yourFriends {
  margin-bottom: 24px !important;
}

.friendsList {
  padding-left: 24px;
  padding-right: 24px;
}

.link {
  width: 14.8px;
  height: 14.8px;
  flex-grow: 0;
  object-fit: contain;
  margin-right: 4px;
}

.smiley {
  width: 25px;
  height: 25px;
}

.friendsName {
  gap: 7.6px;
}

#friendName {
  font-size: var(--medium-copy);
}

img.addFriend {
  width: 23px;
  height: 23px;
  flex-grow: 0;
}


/* The container */
.friendsCheck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.friendsCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.8px;
  height: 20.8px;
  background-color: var(--main-bg-color);
  border: 1.5px solid #8573ae;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.friendsCheck:hover input ~ .checkmark {
  background-color: var(--orange-icon-color);
  border: 1.5px solid var(--orange-icon-color);
}

/* When the radio button is checked, add a blue background */
.friendsCheck input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.friendsCheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.friendsCheck .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

hr.friendsList {
  margin: 17.5px 24px 17.5px 24px;
  height: 4px;
  width: 327px;
  color: var(--hr-color);
}

hr.addFriend {
  width: 327px;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--hr-color);
}

.sadSmiley {
  width: 60px;
  height: 60px;
  margin-top: 40px;
  object-fit: contain;
}

h1#noFriends {
  font-size: 24px;
  margin-top: 11px;
}

img.deleteFriend {
  width: 18px;
  height: 18px;
}

img.add {
  width: 18px;
  height: 18px;
  transform: rotate(-45deg);
}

hr.editFriend {
  width: 327px;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--hr-color);
}


/* PROFILE */
/* ////////// */
/* ////////// */
/* ////////// */
/* ////////// */
/* ////////// */

h1#profile {
  color: var(--main-bg-color);
}

.profileSmiley {
  width: 100px;
  height: 100px;
  padding: 4px 1px 1px 4px;
  margin-top: 18px;
}

button#addButton {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  margin-top: 90px;
  margin-left: -2rem;
  padding: 11px 10px 10px 11px;
  border-radius: 21px;
  background-color: var(--orange-icon-color);
}

h1#profileName.h1.bold {
  color: var(--main-bg-color);
  font-size: 24px;
}

p#profileName {
  color: var(--profile--name-purple);
  font-size: var(--medium-copy);
}

p#profileFriends {
  color: var(--main-bg-color);
  font-size: var(--medium-copy);
  margin-bottom: 32px;
  padding: 1px 14px;
  border-radius: 10px;
  border: solid 1.5px #9e84d4;
}

img.transactionSmiley {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

h4#transactionsHeader {
  margin-bottom: 24px;
  padding-top: 32px;
}

p#groupName {
  color: var(--desaturated-purple);
}

h6#groupMember, h6#groupCost {
  color: var(--text-dark-purple);
  font-size: var(--medium-copy);
}

.transactions {
  margin-right: 15.3px;
}

p#groupDate {
 font-size: var(--xsmall-copy);
}

hr.profile {
  width: 327px;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--hr-color);
}




.gradientContainer {
  background-image: linear-gradient(#6527c9, #330a8b 62.86%);
}

.gradientContainerTwo {
  background-image: linear-gradient(176.73deg, #3414AF 2.7%, #C749E8 62.86%);
}

.friendsCheck {
  background-color: var(--main-bg-color);
  font-size: var(--medium-copy);
}



/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* Other friend profile */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */


img.friendCheck {
  width: 12.6px;
  height: 12px;
  flex-grow: 0;
  margin-right: 8px;
}

img.remind {
  width: 12px;
  height: 15px;
  flex-grow: 0;
  margin: 0 8px 1px 0;
  padding: 0.9px 0.9px;
}

#cardGroupName {
  padding-left: 8px;
}

#recentFriends {
  color: var(--main-bg-color);
}

#viewAll {
  color: var(--button-light-purple);
  text-decoration: underline;
  font-size: var(--medium-copy);
}

.recentFriends {
  padding: 40px 24px 22px 24px;
}

img.smileyInScroll {
  width: 63px;
  height: 62px;
}

.smileyScroll {
  gap: 21px;
  padding-bottom: 38.1px;
}

#smileyScrollName {
color: var(--button-light-purple);
margin-top: 5.2px;
}




.pageTab {
  background-color: var(--main-bg-color);
  border-radius: 10px 10px 0px 0px;
}

.pageTabTwo {
  background-color: var(--main-bg-color);
  border-radius: 20px 20px 0px 0px;
}

.white {
  color: var(--main-bg-color);
}

.groupImg {
  width: 69px;
  height: 69px;
}

.memberIcons {
  width: 32px;
  height: 32px;
  margin: 0 7.6px 0 0;
  margin-right: -10px;
}

.heartIcon {
  width: 40px;
  height: 40px;
  margin: 0;
}

.total {
  background-color: var(--nav-bar-color);
  border-radius: 35.4px;
  width: 140px;
  height: 45px;
  margin: 6px 0 0;
  padding: 8px 32px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-dark-purple);
  border: 0;
}

.card {
  border: 0;
  box-shadow: 0 5px 20px 0 rgba(1, 0, 51, 0.05);
}

.expenseSection {
  margin-bottom: 40px;
}

.indivTotal {
  width: 74px;
  height: 24px;
  padding: 4px 0;
  border-radius: 10px;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--nav-bar-color);
  color: var(--text-dark-purple);
  border: 0;
  text-align: center;
}

.lockIcon {
  width: 14px;
  height: 22px;
  margin-right: 16px;
}

.memberExpense {
  margin-bottom: 33px;
}

.dropdownBtn {
  background-color: var(--nav-bar-color);
  padding: 8px 12px 7px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  color: var(--button-medium-purple);
  margin: 0;
}

.noteBtn {
  padding: 8px 13px 7px;
  border-radius: 12px;
  background-color: var(--button-light-purple);
  color: var(--text-dark-purple);
  margin: 0;
  font-size: var(--small-copy);
}

.noteIcon {
  height: 15px;
  width: 15px;
}

.splitBtnActive {
  background-color: var(--button-medium-purple);
  padding: 5px 16px 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.8;
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  color: var(--main-bg-color);
  margin: 0 12px 0 0;
}

.splitBtn {
  background-color: var(--nav-bar-color);
  padding: 5px 16px 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.8;
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  color: var(--button-medium-purple);
  margin: 0;
}

.progressLightPurple {
  background-color: var(--progress-bar-light-purple);
}

.progressLightBlue {
  background-color: var(--progress-bar-light-blue);
}

.progressPink {
  background-color: var(--progress-bar-pink);
}

.progressYellow {
  background-color: var(--progress-bar-yellow);
}

.progressOrange {
  background-color: var(--progress-bar-orange);
}

.progress {
  border-radius: 50px;
  height: .75rem;
}

.progress-bar {
  border-radius: 50px;
  height: .75rem;
}